<div class="col-xs-6 col-md-3">
	<a href="#" class="thumbnail" >
		<%=image_tag locals[:item].image, size: "100%x180" %>
		<h1><%= locals[:item].title[0,6] + " ..." %></h1>
		<div class="caption">
   			 <h3><%= locals[:item].title %></h3>
   		 </div>		
	</a>
</div>