<script>
  $(function() {
    var titles = <%= MediaItem.pluck(:title).to_json.html_safe %>;
    $("#search_field").autocomplete({
      source: titles
    });
  });
</script>
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
  <%= text_field_tag :search, params[:search], :id => 'search_field', :class => "form-control", :placeholder => "Search" %>
</div>