<script>
  $(function() {
    $("#search_field").autocomplete({
      delay: 300,
      minLength: 2,
      source: '<%= media_items_path(:json) %>',
      open: function(event, ui) {
        createLink = '<li border-top: 1px solid #ccc;"><%= link_to "Not found? Create a new one!", new_media_item_path %></li>';
        $('.ui-autocomplete').append(createLink);
      }
    }).data("ui-autocomplete")._renderItem = function (ul, item) {
          item.label = item.title
          item.value = item.title
          return $("<li></li>")
             .data("item.autocomplete", item)
             .append("<a>" + item.title + " (" + item.type_name + ")</a>")
             .appendTo(ul);
     };
  });
</script>
<div class="input-group">
  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
  <%= text_field_tag :search, params[:search], :id => 'search_field', :class => "form-control", :placeholder => "Search" %>
</div>