<div class="col-sm-6 col-md-3">
	<div class="tile tile-teal">
		<a href="#"  class="thumbnail">
			<h1>
				<%= locals[:item].title[0,6] + " ..." %>
			</h1>
			<%= locals[:item].title	 %>
		</a>
	</div>
</div>