<h1>Media</h1>

<table class="table table-striped table-hover">
  <thead>
  	<tr>
  		<th>Title</th><th>Link</th><th>Type</th><th>User</th><% if ENV['FT_BORROW'] == 'true' %><th>Status</th><% end %>
  	</tr>
  </thead>

  <tbody>
    <% @media_items.each do |media_item| %>
      <tr>
        <td><%=link_to media_item.title, media_item %></td>
        <td><%=link_to media_item.link, media_item.link %></td>
        <td><%= media_item.type.name %></td>
        <td><%= media_item.user.name %></td>
        
        <% if ENV['FT_BORROW'] == 'true' %>
        <td>
          <% if media_item.borrowed? %>
            Lent
          <% else %>
            Available
          <% end %>
        </td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
